<%# make me a helper %>
<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
  <tr>
    <td><%= setting.configuration['type'] %></td>
  </td>
   <td><pre><%=  raw JSON.pretty_generate(setting.configuration['settings']) %></pre>
  </tr>
</table>
