<h1>New setting</h1>
<p>Settings require the following:</p>
<ol>
  <li>type: this acts as the "key" for the setting</li>
  <li>settings: the actual key/value hash</li>
</ol>
<p>Example:</p>
<div><pre>
{
    "type": "site_images",
    "settings": {
        "banner_img": "hello.jpg"
    }
}
</pre></div>

<%= render 'form' %>

<%= link_to 'Back', settings_path %>
