<%= form_for(@photo, :html => { :multipart => true} ) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fallback">
    <label for="attachments">Attach files:</label>
    <input type="file" name="attachments[file]" data-url="/attachments" multiple>
  </div>
  <div>
    <b>Drag and drop image files here</b>
    <br/>
    <br/>
  </div>

<% end %>
<%= javascript_include_tag 'photos' %>
