<h1>Listing photos</h1>

<table>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to(image_tag(photo.attachment.thumb.url), photo) %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
