<div id="pagination">
  <div id="first-page">
    <%= link_to '<<', "/posts/page/#{@posts.first_page}" %>
  </div>
  <div id="previous-page">
    <%= link_to '<', "/posts/page/#{@posts.previous_page}" %>
  </div>
  <div id="next-page">
    <%= link_to '>', "/posts/page#{@post.next_page}" %>
  </div>
  <div id="last-page">
    <%= link_to '>>', "/posts/page#{@post.last_page}" %>
  </div>
</div>
