<%= render partial: @post %>
<%= render partial: 'reply', locals: { reply: @post } %>
<br />

<p>Replies:</p>
<% if @post.comments %>
  <% @post.comments.each do |reply| %>
    <%= render partial: 'posts/reply_body', locals: { reply: reply } %>
  <% end %>
<% end %>
