<h1>Listing galleries</h1>
<div class="container">
  <ul class="row">
    <% @galleries.each do |gallery| %>
      <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <%= link_to image_tag(gallery.cover ? gallery.cover.attachment_url(:thumb) : "default.jpg"), gallery %>
      </li>
    <% end %>
  </ul><!--/.row-->
</div>
<% if can? :create, Gallery %>
  <%= link_to 'New Gallery', new_gallery_path %>
<% end %>
